## compiled code
useDynLib(hitandrun)

export(har, bbReject, simplex.sample,

	createSeedPoint, createBoundBox, findExtremePoints, findVertices,

	simplex.createTransform, simplex.createConstraints,

	ordinalConstraint, upperBoundConstraint, lowerBoundConstraint,
	upperRatioConstraint, lowerRatioConstraint, mergeConstraints)

