## compiled code
useDynLib(hitandrun)

export(hitandrun, har.init, har.run,

       har, bbReject, simplex.sample, hypersphere.sample, sab,
       
       createSeedPoint, createBoundBox,
       findExtremePoints, findVertices, findInteriorPoint,
       solution.basis, createTransform, transformConstraints,
       
       simplex.createTransform, simplex.createConstraints,

       ordinalConstraint, upperBoundConstraint, lowerBoundConstraint,
       upperRatioConstraint, lowerRatioConstraint, exactRatioConstraint,
       simplexConstraints,
       mergeConstraints,
       eliminateRedundant)

